<div class="your-books-container">
  <h2 class="keep-on-writing-header">Keep on writing!</h2>
  <span *ngFor="let book of myBooks" class="original-book-container">
    <app-book-outer-view
      [carouselBook]="book"
      [canWrite]="true"
    ></app-book-outer-view>
  </span>
  <div *ngIf="myBooks?.length === 0" class="no-books">
    It looks like you haven't started your writing journey yet.
  </div>
</div>
