<div
  class="modal fade"
  tabindex="-1"
  [ngStyle]="{ display: isModalOpen ? 'block' : 'none', opacity: 1 }"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">It's done!</h5>
      </div>
      <div class="modal-body">
        <p>
          {{ message }}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="openModal(false)"
        >
          Ok, I got it!
        </button>
      </div>
    </div>
  </div>
</div>
