<div class="flex-it">
  <mat-card class="login-form">
    <form [formGroup]="loginForm" class="form-group">
      <mat-card-header> <label>LOG IN</label></mat-card-header>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
          />
          <mat-error
            *ngIf="!correctCredentials"
            class="post-click-error"
          ></mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <mat-error
            *ngIf="!correctCredentials"
            class="post-click-error"
          ></mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="!correctCredentials" class="post-click-error"
        >Your email or password are incorrect</mat-error
      >
      <button
        type="button"
        mat-raised-button
        (click)="
          onClick(
            loginForm.get('email')?.value,
            loginForm.get('password')?.value
          )
        "
      >
        Log in
      </button>
    </form>
    <a [routerLink]="['/signup']" class="link"
      >Don't have an account? Sign up</a
    >
  </mat-card>
</div>
