@import "~bootstrap/dist/css/bootstrap.min.css";

.custom-file-input {
  width: 15vw;
  opacity: 0;
}

.custom-file {
  display: inline-block;
  width: fit-content;
}

.form-check {
  display: inline-block;
  padding-left: 0;
  width: 80%;
}

.custom-file {
  display: inline-block;
  width: 15vw;
  border: 0;
  box-shadow: 2px 2px 5px 1px #f3f3f3;
  font-weight: 500;
  margin-right: 3%;
}

.loading-wheel {
  width: 4%;
  height: 8%;
  margin-top: 5px;
}

.input-group-text {
  color: #888;
  background-color: transparent;
  border-style: none;
  box-shadow: 2px 2px 5px 1px #f3f3f3;
}
