<div class="mb-4 form-check">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01"
        >Choose file</span
      >
    </div>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01"
      />
    </div>
    <img
      class="loading-wheel"
      src="../../../assets/animations/loading_wheel.gif"
      [ngStyle]="{ display: fileLoading ? 'block' : 'none' }"
    />
  </div>
</div>
