<swiper [config]="config" loop="true" #whooosh>
  <div class="swiper-button-next"></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide col-md" *ngFor="let book of booksToBeDisplayed2">
      <app-book-outer-view
        [carouselBook]="book"
        [canAddToLibrary]="true"
      ></app-book-outer-view>
    </div>

    <div class="swiper-slide-duplicate"></div>
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
</swiper>
