@import "~bootstrap/dist/css/bootstrap.min.css";

.carousel-inner-item {
  display: inline-block;
  width: fit-content;
  margin-left: auto;
}

.container {
  margin: 1vh auto;
}

.carousel-item {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.carousel {
  background-image: url("../../../../assets/background-images/gray-bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: auto;
}

swiper {
  height: 250px;
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}

.hu {
  display: block;
}

swiper {
  width: 85vw;
  height: 70vh;
}

.book-container {
  margin-left: 20px;
}
