.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/background-images/not-edited-legos.jpg");
  background-size: contain;
  height: 90%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-image {
  height: 90%;
  width: 58%;
}

.carousel-container {
  margin-top: 20vh;
}

.start-reading-header {
  font-family: "Inter", sans-serif;
  margin-left: 7.5vw;
}

.body::-webkit-scrollbar {
  width: 5px;
}

.body::-webkit-scrollbar-track {
  background: transparent;
}

.body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20%;
  border: 1px solid transparent;
}
