<div class="image-div">
  <img
    src="../../../assets/background-images/edited-pastel-legos.png"
    alt="wattapt build up your stories"
    class="main-image grow"
  />
</div>
<div class="carousel-container">
  <h1 class="start-reading-header">Start reading</h1>
  <app-book-list-view></app-book-list-view>
</div>
