@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.container-child {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 55vw;
  height: 70vh;
  box-shadow: 0 3px 14px rgb(34 34 34 / 8%), 0 8px 10px rgb(34 34 34 / 10%);
  border-radius: 5px;
}

.image-container {
  display: inline-block;
  height: 70vh;
  width: 26.2vw;
}

img {
  height: 70vh;
  width: 26.2vw;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  width: 29vw;
  padding: 5vh 3vw;
}

.book-description-paragraph {
  height: 15vh;
  overflow-y: scroll;
}

.blueButton {
  background-color: #3d6e94;
  border-color: #3d6e94;
  color: white;
  margin-right: 1vh;
}

.blueButton:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}

.rating-value {
  margin-bottom: 5vh;
}

.second-row {
  display: inline-block;
  min-height: 23vh;
  margin-bottom: 5vh;
}

.first-row {
  display: inline-block;
  min-height: 19vh;
  margin-bottom: 4vh;
}

.not-rated-div {
  margin-bottom: 2vh;
}

.rate-button {
  font-size: smaller;
}

.book-description-paragraph::-webkit-scrollbar {
  width: 5px;
}

.book-description-paragraph::-webkit-scrollbar-track {
  background: transparent;
}

.book-description-paragraph::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20%;
  border: 1px solid transparent;
}

.fa-star {
  margin-left: 5px;
  color: #e8adbd;
}
