<div class="container" *ngIf="bookInfoContainer">
  <div class="container-child">
    <div class="image-container">
      <img [src]="bookInfoContainer.cover" />
    </div>
    <div class="book-info-container">
      <div class="first-row">
        <h2>{{ bookInfoContainer.title | uppercase }}</h2>
        <h3>-{{ bookInfoContainer.author }}-</h3>
      </div>
      <div class="second-row">
        <p class="book-description-paragraph">
          {{ bookInfoContainer.description }}
        </p>
        <div *ngIf="notRated && !bookAuthor" class="not-rated-div">
          <button
            (click)="openRatingModal()"
            class="btn blueButton rate-button"
          >
            Rate me !
          </button>
          <app-rating-modal
            [bookTitle]="bookInfoContainer.title"
            [bookId]="bookId"
            [display]="displayModal.asObservable()"
          ></app-rating-modal>
        </div>
        <div *ngIf="!notRated">Rated!</div>
        <span class="rating-value"
          >{{ rating }}<i class="fas fa-star"></i
        ></span>
      </div>
      <div>
        <div class="third-row">
          <button
            class="btn btn-outline-primary blueButton"
            (click)="readBook()"
          >
            Read</button
          ><button
            class="btn btn-outline-primary blueButton"
            (click)="addToLibrary(bookId)"
            *ngIf="!inLibrary"
          >
            Add to library
          </button>
          <button
            class="btn btn-outline-primary blueButton"
            (click)="removeFromLibrary(bookId)"
            *ngIf="inLibrary"
          >
            Remove from library
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
