.library-container {
  padding: 5vh 4vw;
}

.library-book-container {
  margin-left: 10px;
}

.keep-on-reading-header {
  font-family: "Inter", sans-serif;
}

.no-books {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-family: "Inter", sans-serif;
  color: #777;
}
