<div class="library-container">
  <h2 class="keep-on-reading-header">Keep on reading!</h2>
  <span *ngFor="let book of libraryBooks" class="library-book-container"
    ><app-book-outer-view
      [carouselBook]="book"
      [canRemoveFromLibrary]="true"
    ></app-book-outer-view
  ></span>
  <div
    *ngIf="receivedLibraryBooksResponse && libraryBooks.length === 0"
    class="no-books"
  >
    It looks like you haven't added any books to the library yet
  </div>
</div>
