<div
  class="modal fade"
  tabindex="-1"
  [ngStyle]="{ display: shouldDisplay ? 'block' : 'none', opacity: 1 }"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ bookTitle | uppercase }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="openModal(false)"
        ></button>
      </div>
      <div class="modal-body">
        <form #ratingForm="ngForm">
          <label for="vol">Rate me </label>
          <star-rating
            [value]="1"
            [totalstars]="5"
            checkedcolor="red"
            uncheckedcolor="gray"
            size="24px"
            [readonly]="false"
            (rate)="onRate($event)"
          ></star-rating>
          <span class="rating-indicator"></span>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="submitRating()"
          type="button"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
