.reading-section-container {
  padding: 0;
  display: flex;
}

.chapter-container {
  display: inline-block;
  width: 75vw;
  margin: 6.5vh 3.5vw 2vh 1vw;
  font-family: "Inter", sans-serif;
}

.list-container {
  display: inline-block;
  width: 25vw;
}
.chapter-title {
  font-size: larger;
  font-weight: 400;
}

.chapter-content {
  margin-top: 5vh;
}

.horizontal-line {
  margin-right: 2vw;
}

.no-story-container {
  display: inline-block;
  margin-top: 30vh;
  width: 100vw;
}

.border {
  width: 60vw;
  margin: auto;
  color: #555;
}

.no-story {
  width: fit-content;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 3.5vh auto;
  color: #555;
}
