<div class="reading-section-container">
  <div *ngIf="emptyBook" class="no-story-container">
    <hr class="border" />
    <div class="no-story">
      It looks like the author hasn't found inspiration yet. Come back later
    </div>
    <hr class="border" />
  </div>
  <div *ngIf="!emptyBook && chapterContainer != ''" class="list-container">
    <app-chapter-lister
      [chapterList]="chapterContainer"
      (chapterNumber)="changeChapter($event)"
    ></app-chapter-lister>
  </div>

  <div class="chapter-container" *ngIf="!emptyBook && chapterContainer != ''">
    <span
      [froalaView]="currentChapterTitle | uppercase"
      class="chapter-title"
      >{{ currentChapterTitle }}</span
    >
    <hr class="horizontal-line" *ngIf="!emptyBook && chapterContainer != ''" />
    <div [froalaView]="currentChapterContent" class="chapter-content">
      {{ currentChapterContent }}
    </div>
  </div>
</div>
