@import "~bootstrap/dist/css/bootstrap.min.css";

.papa-container {
  width: 100%;
  display: flex;
}
.child {
  display: inline-block;
  width: 25%;
}

.second-child {
  width: 72%;
}

.title-input {
  margin: 5vh 0vw;
  box-shadow: 2px 2px 5px 1px #f3f3f3;
}

.blueButton {
  background-color: #3d6e94;
  border-color: #3d6e94;
  color: white;
}

.blueButton:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}

.add-button {
  width: 20vw;
}

.save-button {
  margin-top: 3vh;
}

.chapter-content {
  box-shadow: 2px 2px 5px 1px #f3f3f3;
}
