<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="authS.isLoggedIn()"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">wattaPT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active home-link" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link library-link" [routerLink]="['/library']"
            >Library</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link library-link"
            *ngIf="this.authS.isAdmin()"
            [routerLink]="['/admin']"
            >Admin duties</a
          >
        </li>
        <li class="nav-item">
          <form class="d-flex">
            <input
              class="form-control search-bar"
              type="search"
              placeholder="Search"
              aria-label="Search"
              (click)="getSearchResults()"
              [(ngModel)]="data"
              name="data"
              autocomplete="off"
            />
            <div class="search-list-container" *ngIf="data != ''">
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let item of books | slice: 0:5 | filter: data"
                >
                  <div>
                    <img [src]="item.cover" class="search-result-cover" />
                    <span (click)="navigateToBookPresentation(item.key)">{{
                      item.title | uppercase
                    }}</span>
                  </div>
                </li>
              </ul>
            </div>
            <button
              class="btn btn-outline-success blueButton search-button"
              type="submit"
            >
              <i class="fa fa-search"></i>
            </button>
          </form>
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle write-button"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Write
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <button class="dropdown-item" (click)="goToCreateNewBook()">
              Start a new book
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="goToStories()">
              Your stories
            </button>
          </li>
        </ul>
      </div>
      <button
        class="btn btn-sm btn-outline-primary waves-effect logout-button"
        type="button"
        (click)="logOut()"
      >
        Log out
      </button>
    </div>
  </div>
</nav>
