@import "~bootstrap/dist/css/bootstrap.min.css";

nav {
}
.navbar-brand {
  margin-right: 2vw;
}

.search-bar {
  margin-left: 2vw;
  background-color: transparent;
  border-radius: 0%;
  border-style: none;
  border-bottom: 1px solid #999;
}

.search-bar:hover {
  background-color: #ececec;
}

.search-list-container {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  position: absolute;
  z-index: 1;
  margin-top: 6.3vh;
  margin-left: 2vw;
  box-shadow: 0 3px 14px rgb(34 34 34 / 8%), 0 8px 10px rgb(34 34 34 / 10%);
}

.list-group-item {
  cursor: pointer;
  min-width: 7vw;
}

.list-group-item:hover {
  background-color: #ececec;
}

.search-result-cover {
  height: 6vh;
  width: 2.5vw;
}

.write-button {
  background-color: #3d6e94;
  border-color: #3d6e94;
  margin-right: 10px;
}

.logout-button,
.blueButton {
  border-color: #3d6e94;
  color: #3d6e94;
  height: 38px;
}

.logout-button:hover,
.blueButton:hover {
  background-color: #c7cbc9;
  border-color: #c7cbc9;
  color: white;
}

.home-link:hover,
.library-link:hover {
  color: #3d6e94;
}

.blueButton {
  border-radius: 0%;
}

::placeholder {
  color: #888;
}
