<div class="flex-it">
  <mat-card class="signup-form">
    <form [formGroup]="signupForm" class="form-group">
      <mat-card-header> <label>SIGN UP</label></mat-card-header>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            placeholder="Username"
          />
          <mat-error
            *ngIf="
              signupForm.controls['username'].touched &&
              signupForm.controls['username'].hasError('doesNotMatchPattern')
            "
            >Username can only contain letters, numbers and
            underscores</mat-error
          >
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')"
            >Username is required!</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
          />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')"
            >Email is required!</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')"
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
              signupForm.controls['password'].touched &&
              signupForm.controls['password'].hasError('minlength')
            "
            >Password needs to be at least 8 characters</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="date"
            id="birthday"
            formControlName="birthday"
            class="form-control"
            placeholder="Birthday"
          />
          <mat-error *ngIf="signupForm.get('birthday')?.hasError('required')"
            >Birthday is required!</mat-error
          >
          <mat-error
            *ngIf="
              signupForm.controls['birthday'].touched &&
              signupForm.controls['birthday'].hasError('notOldEnough')
            "
            >You should be over 13 to access this website</mat-error
          >
        </mat-form-field>
      </div>

      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="
          onClick(
            signupForm.get('email')?.value,
            signupForm.get('username')?.value
          )
        "
        [disabled]="!signupForm.valid"
      >
        Sign up
      </button>
    </form>
    <mat-error *ngIf="!emailUnique" class="post-click-error"
      >There exists an account with this email!</mat-error
    >
    <mat-error *ngIf="!usernameUnique" class="post-click-error"
      >There exists an account with ths username!</mat-error
    >
    <a [routerLink]="['/login']" *ngIf="rolePicker === 'user'"
      >Already have an account? Log in</a
    >
  </mat-card>
  <app-task-completed-modal
    [message]="'A new admin was added'"
    [uploadCompleted$]="addAdminCompleted"
  ></app-task-completed-modal>
</div>
