<div class="card" style="width: 12rem; height: 1s5rem" *ngIf="!deleted">
  <img
    class="card-img-top grow"
    [src]="carouselBook.cover"
    alt="Card image cap"
    (click)="openFullBook(carouselBook.key)"
  />
  <div class="card-body">
    <h5
      class="card-title"
      style="height: 7vh"
      (click)="openFullBook(carouselBook.key)"
    >
      {{ carouselBook.title | uppercase }}
    </h5>
    <div>
      <button
        class="btn btn-primary w-5 blueButton"
        (click)="addToLibrary(carouselBook.key)"
        *ngIf="canAddToLibrary"
      >
        Add to library
      </button>
      <button
        class="btn btn-primary w-5 blueButton remove-button"
        (click)="removeFromLibrary(carouselBook.key)"
        *ngIf="canRemoveFromLibrary"
      >
        Remove from library
      </button>
      <div *ngIf="canWrite">
        <button
          class="btn blueButton write-button"
          (click)="write(carouselBook.key)"
        >
          Keep writing!
        </button>

        <button
          class="btn blueButton delete-button"
          (click)="openConfirmationModal()"
        >
          Delete story
        </button>
      </div>
    </div>
  </div>
  <app-confirmation-modal
    [display]="displayModal.asObservable()"
    [message]="'Are you sure you want to delete your story?'"
    (proceedWithInitialAction)="delete(carouselBook.key)"
  ></app-confirmation-modal>
</div>
