@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  display: inline-block;
  border: none;
  box-shadow: 1px 3px 3px #d7d7d7;
  margin-top: 1vh;
}

.book-card {
  display: inline-block;
  width: 20%;
}
.card-img-top {
  height: 40vh;
  max-height: 40vh;
  min-height: 40vh;
}

.rating-container {
  margin-bottom: 2vh;
  border-radius: 2px;
  box-shadow: 1px 3px 3px #ddd;
  padding: 5px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.rating-indicator {
  display: inline-block;
  width: 15px;
}

.blueButton {
  background-color: #3d6e94;
  border-color: white;
  color: white;
}

.blueButton:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}

write-button {
  font-size: smaller;
  margin-bottom: 1vh;
}

delete-button {
  font-size: smaller;
}

.remove-button {
  font-size: 0.8rem;
}
