@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  margin-top: 5vh;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.book-registration-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3vw;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 3px 14px rgb(34 34 34 / 8%), 0 8px 10px rgb(34 34 34 / 10%);
  border-radius: 5px;
}

.form-container {
  margin-top: 4vh;
  display: inline-block;
  width: fit-content;
}

.header {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #555;
}

.custom-file-input {
  opacity: 0;
}

.custom-file {
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.form-check {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}

.form-control {
  border: 0;
  box-shadow: 2px 2px 5px 1px #f3f3f3;
  width: 31vw;
  font-weight: 500;
}

.custom-file-label {
  margin-top: 2.7%;
}

.cover-preview {
  height: 70vh;
  width: 26.2vw;
  max-width: 26.2vw;
  min-width: 26.2vw;
  max-height: 70vh;
  min-height: 70vh;
}

.blueButton {
  display: block;
  background-color: #3d6e94;
  border-color: #3d6e94;
  color: white;
}

.blueButton {
  background-color: #3d6e94;
  border-color: #3d6e94;
  color: white;
}

.blueButton:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}

.error {
  font-size: 0.62rem;
  color: darkred;
}

::placeholder {
  color: #888;
}
