<div class="container">
  <div class="book-registration-container">
    <div class="col-sm-5">
      <img [src]="previewURL" class="cover-preview" />
    </div>
    <div class="col-sm-7">
      <div class="form-container">
        <div class="header">Story details</div>
        <form [formGroup]="createBookForm">
          <div class="mb-4 input-container">
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="title"
              placeholder="Title"
              formControlName="title"
            />
            <span
              *ngIf="
                createBookForm.get('title')?.touched &&
                createBookForm.get('title')?.hasError('required')
              "
              class="error"
              >The book title is required</span
            >
          </div>
          <div class="mb-4 input-container">
            <input
              type="text"
              class="form-control"
              id="genre"
              placeholder="#drama #thriller #romance"
              formControlName="genre"
            />
            <span
              *ngIf="
                createBookForm.get('genre')?.touched &&
                createBookForm.get('genre')?.hasError('required')
              "
              class="error"
              >The genre is required</span
            >
          </div>
          <div class="mb-4 input-container">
            <textarea
              class="form-control"
              id="description"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </div>
          <app-file-uploader
            formControlName="cover"
            (fileEvent)="assignPreviewImageURL($event)"
            (filePath)="uploadBookInfo($event)"
            [uploadFile]="uploadFile.asObservable()"
          ></app-file-uploader>
          <div
            *ngIf="createBookForm.get('cover')?.hasError('notRightFileFormat')"
            class="error"
          >
            Please pick an image type file
          </div>
          <button
            type="button"
            class="btn blueButton"
            (click)="showButtonClicked()"
            [disabled]="!createBookForm.valid"
          >
            Submit
          </button>
          <app-task-completed-modal
            [uploadCompleted$]="uploadCompleted"
            [message]="
              'The book outline was successfully created.You can find it under the `My stories` tab.'
            "
          ></app-task-completed-modal>
        </form>
      </div>
    </div>
  </div>
</div>
