@import "~bootstrap/dist/css/bootstrap.min.css";

.user-table {
  margin-top: 2.5vh;
}

.blue-button {
  background-color: #3d6e94;
  border-color: white;
  color: white;
}

.blue-button:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}
