<div class="user-table">
  <table class="table">
    <thead class="table-head">
      <tr class="table-head-row">
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scoper="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="btn blue-button">
            Delete
          </button>
        </td>
        <td>
          <button
            *ngIf="user.role === 'user'"
            (click)="makeAdmin(user.id)"
            class="btn blue-button"
          >
            Make admin
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <button (click)="addNewAdmin()" class="btn blue-button">
    Register new admin
  </button>
</div>
