<div
  class="modal fade"
  tabindex="-1"
  [ngStyle]="{ display: shouldDisplay ? 'block' : 'none', opacity: 1 }"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="openModal(false)"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn blue-button"
          data-bs-dismiss="modal"
          type="button"
          (click)="carryOnWithTheAction()"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn blue-button"
          data-bs-dismiss="modal"
          type="button"
          (click)="openModal(false)"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
