@import "~bootstrap/dist/css/bootstrap.min.css";

.modal {
  background-color: rgba(20, 20, 20, 0.8);
}

.blue-button {
  background-color: #3d6e94;
  border-color: #3d6e94;
  color: white;
}

.blue-button:hover {
  background-color: #6a94b4;
  border-color: #6a94b4;
  color: white;
}
